@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab-Regular.eot');
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
    url('../fonts/RobotoSlab-Regular.woff') format('woff'),
    url('../fonts/RobotoSlab-Regular.ttf') format('truetype'),
    url('../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg'),
    url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(233, 240, 244);
}

header {
    background-color: rgb(255, 255, 255);
}


.wrapper {
    width: 1000px;
    display:block;
    margin: 0 auto;
}

nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    color: #555555;
    display: block;
    font-size: 13px;
    font-weight: 300;
    line-height: 25px;
    padding: 32px 20px 39px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "RobotoSlab";
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

.title {
    color: #E74C3C;
    line-height: 20px;
    margin-top: 30px;
    font-size: 35px;
    font-weight: bold;
    font-family: "RobotoSlab";
    display:inline-block;
}

.postslist {
    margin-top: 30px;
    width: 600px;
    display:inline-block;
    vertical-align: top;
}

.post {
    display: block;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-bottom: 1px solid #d3d5d7;
    -webkit-box-shadow: 0 0 5px 0 #e2e3e4;
    -moz-box-shadow: 0 0 5px 0 #e2e3e4;
    box-shadow: 0 0 5px 0 #e2e3e4;
    display: block;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-bottom: 1px solid #d3d5d7;
    -webkit-box-shadow: 0 0 5px 0 #e2e3e4;
    -moz-box-shadow: 0 0 5px 0 #e2e3e4;
    box-shadow: 0 0 5px 0 #e2e3e4;
    background-color: #FFF;
    border-bottom: 1px solid #d3d5d7;
    -webkit-box-shadow: 0 0 5px 0 #e2e3e4;
    -moz-box-shadow: 0 0 5px 0 #e2e3e4;
    box-shadow: 0 0 5px 0 #e2e3e4;
    position: relative;
    padding: 9px 0;
    margin-bottom: 50px;
}

.post img {
    max-width: 100%;
    margin: 0;
    padding: 0;
    max-height: 500px;
}

.postTitle {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 35px;
    font-weight: normal;
    font-family: "Roboto Slab";
    margin: 0 25px 10px;
    color: #333;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    max-width: 100%;
    width:auto;
}

.postTitle:hover {
    color: #E74C3C;

}

.postTitle:after{
    content: '';
    clear:both;
    display:block;
    width:100%;
    height:1px;
}

.description {
    margin-right: 15px;
    margin-bottom: 20px;
    float: left;
    padding: 10px;
    border: 1px solid #e4e6e8;
    background-color: #f6f6f6;
    font-size: 12px;
    text-transform: uppercase;
    color: #9ba1a8;
}

.description:first-of-type {
    margin-left: 25px;
}

.description:last-of-type{
    color: #E74C3C;
}

.post .content p {
    margin: 15px 25px 20px;
    line-height: 17px;
    font-size: 15px;
    color: #6d7683;
}

.post .content button {
    display: block;
    float: right;
    text-align: center;
    padding: 10px 20px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
    background-color: #e74c3c;
    color: #fff;
    outline:none;
    margin-right: 30px;
    border:none;
    border-radius: 2px;
}

.info {
    display:inline-block;
    width: 360px;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 25px;
}

.info .avatar {
    display:block;
    margin:0 auto;
    max-width: 150px;
    width:100px;
    height:100px;
    overflow:hidden;
    border-radius: 50%;
    position: relative;
}

.autor {
    background-color: #e74c3c;
    padding-top:35px;
    padding-left: 30px;
    padding-right: 30px;
}

.info .avatar img{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.info h2 {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
}

.info .about_autor {
    margin: 0 0 10px;
    font-size: 13px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    display:block;
    line-height: 18px;
    padding-bottom:50px;
}

footer {
    line-height: 14px;
    padding: 19px 0 19px 0;
    background-color: #293545;
    font-size: 14px;
}

footer a {
    color:#ffffff;

}

footer a span {
    color: #F57676;
}

.login input{
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #E74C3C;;

}

.login_title {
    text-align:center;
    color: #E74C3C;
    font-family: "RobotoSlab";
    margin-top:150px;
    font-weight: bold;
}

.login:first-of-type{
    margin-bottom: 12px;
}

.login:first-of-type a{
    margin-right: 40px;
    margin-left: 80px;
}

.login:last-of-type a{
    margin-right: 45px;
    margin-left: 80px;
}

.wrapper form {
    padding-top:30px;
    font-size: 20px;
    margin-bottom: 20px;
    color: #9ba1a8;
    font-family: "RobotoSlab";
    text-align: center;

}

.loginButton{
    padding: 10px 50px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #e74c3c;
    color: #fff;
    outline:none;
    margin-right: 30px;
    border:none;
    border-radius: 2px;
    margin-top: 20px;
    margin-left: 300px;
    margin-bottom: 230px;
}

