<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    </head>
    <body>
    <header>
        <div class="wrapper">
            <nav>
                <h1 class="title"><a href="/">MyBlog</a></h1>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
        {% block body %}{% endblock %}
    <footer>
        <div  class="wrapper">
            <a>Created by <span>Damian Róg</span></a>
            <button>
                <i class="fas fa-chevron-up"></i>
            </button>
        </div>
    </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
