<!DOCTYPE html>
<html>
    <head>
        <title>My blog</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />


    </head>
    <body>
        <header>
            <div class="wrapper">
                <img src="">
                <ul>
                    <li>
                        <a>Home</a>
                    </li>
                    <li>
                        <a>About</a>
                    </li>
                    <li>
                        <a>Login</a>
                    </li>
                </ul>
            </div>
        </header>
        <main>
            <div class="postslist">
                <ul>
                    <li>
                        <article>
                            <div>
                                <h2>Title</h2>
                                <p>Autor</p>
                                <p>Data</p>
                            </div>
                            <div>
                                <img src="">
                            </div>
                            <div>
                                <p>tresc</p>
                                <button>Syknij dalej</button>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
            <div class="info">

            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>
