<!DOCTYPE html>
<html>
<head>
    <title>My blog</title>

    <link href="../css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../css/main.css" rel="stylesheet" type="text/css" />
    <link href="../fonts/awesome/css/fontawesome-all.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="wrapper">
        <nav>
            <h1 class="title"><a href="/">MyBlog</a></h1>
            <ul>
                <li>
                    <a>Home</a>
                </li>
                <li>
                    <a>About</a>
                </li>
                <li>
                    <a>Login</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<main class="wrapper">

    <h2 class="login_title">PLEASE LOGIN TO CONTINUE</h2>
        <form>
            <div class="login">
                <label>
                    <a>USERNAME </a>
                </label>
                <input>

            </div>
            <div class="login">
                <label>
                    <a>PASSWORD </a>
                </label>
                <input>

            </div>
            <button class="loginButton">LOGIN</button>
        </form>
</main>
    <footer>
        <div  class="wrapper">
            <a>Created by <span>Damian Róg</span></a>
            <button>
                <i class="fas fa-chevron-up"></i>
            </button>
        </div>
    </footer>
</body>
</html>